##############################
-------- IDE Files -----------
##############################
.metadata
.settings
.project
.classpath
.springBeans
.DS_Store
.sass-cache
.idea/workspace.xml
.idea

node_modules
annam.iml
img/**/*.png.bak