##############################
-------- IDE Files -----------
##############################
.metadata
.settings
.project
.classpath
.springBeans
.DS_Store
.sass-cache
.idea

##############################
-------- Directories -----------
##############################
.idea/workspace.xml